.col-4 {
  text-align: center;
}

@-webkit-keyframes blinkerRed {
  to {
    color: red;
  }
}
.blinkRed {
  text-decoration: blink;
  -webkit-animation-name: blinkerRed;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes blinkerGreen {
  to {
    color: green;
  }
}
.blinkGreen {
  text-decoration: blink;
  -webkit-animation-name: blinkerGreen;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
}
